body {
  margin:0;
  padding: 0;
}

div {
  margin-top: -500px;
  padding: 0;
}

p {
  width: 500px;
}

nav {
  display: block;
  position: fixed;
  height: 50px;
  background-color: black;
  width: 100%;
}
