html {
  padding: 0;
  margin: 0;
}

body {
  margin:0;
  padding: 0;
}

div {
  margin-top: 0;
  padding: 0;
}

p {
  margin: 0;
  position: relative;
  width: 500px;
}

nav {
  display: block;
  position: fixed;
  height: 50px;
  background-color: black;
  width: 100%;
}
